<app-user-header></app-user-header>
<div class="container">
  <h2>Available Conferences:</h2>
  <div class="conference container">
    <h3>Sustainable Diets Conference</h3>
    <img class="conference-poster" src="assets/conference-poster.png">
    <p>Sustainable Diets are those diets with low environmental impacts which contribute to food and nutrition security and to healthy life for present and future generations. Sustainable diets are protective and respectful of biodiversity and ecosystems, culturally acceptable, accessible, economically fair and affordable; nutritionally adequate, safe and healthy while optimizing natural and human resources</p>
    <a  mat-raised-button class="button-detail" >Enter</a>
  </div>
</div>

