<div class="division-container">
  <div id="images-container">
    <div class="container-left">
      <img class="left" src="assets/dietport.jpg" alt="">
      <div class="overlay-l"></div>
    </div>
    <div class="container-right">
      <img class="right" src="assets/cimagenpesas2.jpg" alt="">
      <div class="overlay-r"></div>
    </div>
  </div>
  <div class="over-hero">
    <h1 class="title-principal">Home<span>Healthy</span></h1>
    <h2>Iniciar se<span>sión como</span></h2>
    <div class="buttons-container">
      <button class="user-button" mat-raised-button routerLink="/login" routerLinkActive="active">Usuario</button>
      <button mat-raised-button routerLink="/collaborator/login" routerLinkActive="active">Colaborador</button>
    </div>
  </div>
</div>
