<app-user-header></app-user-header>
<div class="cont">
  <h1> {{ diet.name }}</h1>
  <table style="width:80%" class="diet-table">
    <thead>
    <tr>
      <th class="diagonalCross"></th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Early Morning</td>
      <td>{{diet.mondayEarlyMorning}}</td>
      <td>{{diet.tuesdayEarlyMorning}}</td>
      <td>{{diet.wednesdayEarlyMorning}}</td>
      <td>{{diet.thursdayEarlyMorning}}</td>
      <td>{{diet.fridayEarlyMorning}}</td>
      <td>{{diet.saturdayEarlyMorning}}</td>
      <td>{{diet.sundayEarlyMorning}}</td>
    </tr>
    <tr>
      <td>Breakfast</td>
      <td>{{diet.mondayBreakfast}}</td>
      <td>{{diet.tuesdayBreakfast}}</td>
      <td>{{diet.wednesdayBreakfast}}</td>
      <td>{{diet.thursdayBreakfast}}</td>
      <td>{{diet.fridayBreakfast}}</td>
      <td>{{diet.saturdayBreakfast}}</td>
      <td>{{diet.sundayBreakfast}}</td>
    </tr>
    <tr>
      <td>Mid Morning</td>
      <td>{{diet.mondayMidMorning}}</td>
      <td>{{diet.tuesdayMidMorning}}</td>
      <td>{{diet.wednesdayMidMorning}}</td>
      <td>{{diet.thursdayMidMorning}}</td>
      <td>{{diet.fridayMidMorning}}</td>
      <td>{{diet.saturdayMidMorning}}</td>
      <td>{{diet.sundayMidMorning}}</td>
    </tr>
    <tr>
      <td>Lunch</td>
      <td>{{diet.mondayLunch}}</td>
      <td>{{diet.tuesdayLunch}}</td>
      <td>{{diet.wednesdayLunch}}</td>
      <td>{{diet.thursdayLunch}}</td>
      <td>{{diet.fridayLunch}}</td>
      <td>{{diet.saturdayLunch}}</td>
      <td>{{diet.sundayLunch}}</td>
    </tr>
    <tr>
      <td>Mid Noon</td>
      <td>{{diet.mondayMidNoon}}</td>
      <td>{{diet.tuesdayMidNoon}}</td>
      <td>{{diet.wednesdayMidNoon}}</td>
      <td>{{diet.thursdayMidNoon}}</td>
      <td>{{diet.fridayMidNoon}}</td>
      <td>{{diet.saturdayMidNoon}}</td>
      <td>{{diet.sundayMidNoon}}</td>
    </tr>
    <tr>
      <td>Dinner</td>
      <td>{{diet.mondayDinner}}</td>
      <td>{{diet.tuesdayDinner}}</td>
      <td>{{diet.wednesdayDinner}}</td>
      <td>{{diet.thursdayDinner}}</td>
      <td>{{diet.fridayDinner}}</td>
      <td>{{diet.saturdayDinner}}</td>
      <td>{{diet.sundayDinner}}</td>
    </tr>
    </tbody>
  </table>
</div>
