*{
  color: #C8C8C8;

}
.default-spacer {
  flex: 1 1 auto;
}
.menu-bar a {
  text-decoration: none;
  /*color: white;*/
  margin-right: 15px;
  background-color: #008954;
}
.container-bar {
  margin-bottom: 50px;
  background: #008954;
}
.side-button:hover {
  background-color: #00ad5f;
}
