<app-user-header></app-user-header>
<div class="hero">
  <h1>Welcome UserExample</h1>
  <div class="container-hero container product-grid">
    <div class="card-home">
      <h2>Tu dieta activa</h2>
      <img src="assets/dieta.jpg">
      <button mat-raised-button class="button-card">Ver detalle</button>
    </div>
    <div class="card-home">
      <h2>Tu rutina activa</h2>
      <h3>Rutina x</h3>
      <img src="assets/rutina.jpg">
      <button mat-raised-button class="button-card">Ver detalle</button>
    </div>
    <div class="card-home">
      <h2>Tu proxima sesión</h2>
      <img src="assets/Zoom-Logo.png">
      <button mat-raised-button class="button-card">Ver detalle</button>
    </div>
  </div>
</div>
